<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="HibernateSessionFactory">
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://120.79.130.100:3306/volunteer?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="hibernate.connection.username">
			PMS
		</property>
		<property name="hibernate.connection.password">
			park
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="connection.autocommit">false</property>
		 <mapping resource="volunteer/po/ActInfo.hbm.xml" />
		<mapping resource="volunteer/po/ActBase.hbm.xml" />
		<mapping resource="volunteer/po/ActReq.hbm.xml" /> 
		<mapping resource="volunteer/po/Admin.hbm.xml" />
		<mapping resource="volunteer/po/Apply.hbm.xml" />
		<mapping resource="volunteer/po/ViewApply.hbm.xml" />
		<mapping resource="volunteer/po/ManHour.hbm.xml" />
		<mapping resource="volunteer/po/User.hbm.xml" />
	</session-factory>
</hibernate-configuration>
